##### Importing Data from Databases

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
conn = sqlite3.connect('Chinook.db')

In [ ]:
tables = pd.read_sql(""" 
    SELECT name 
    FROM sqlite_master
    WHERE type='table';
""", conn)

tables    # To view all the tables in the database.

In [ ]:
query = "SELECT * FROM Employee"
df = pd.read_sql(query, conn)

df.head()
conn.close()