##### Importing Data from Databases

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
conn = sqlite3.connect('Chinook.db.db')

In [ ]:
query = "SELECT * FROM employee"
df = pd.read_sql(query, conn)
conn.close()
df.head()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.shape